# NETWORK
github "AFNetworking/AFNetworking"
# DATASTORE
github "aschuch/AwesomeCache"
# LISTKIT
github "Instagram/IGListKit"
# LAYOUT
github "SnapKit/SnapKit"
# CHART
github "philackm/ScrollableGraphView"
# JSON
github "SwiftyJSON/SwiftyJSON"
# EXTENSION
github "SwifterSwift/SwifterSwift"
# PAGECONTROL
github "ChiliLabs/CHIPageControl"
# THEME
github "jiecao-fm/SwiftTheme"
