<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>LightContent</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#292b38</string>
		<key>textColor</key>
		<string>#ECF0F1</string>
		<key>barTextColor</key>
		<string>#FFF</string>
		<key>barTintColor</key>
		<string>#01040D</string>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>separatorColor</key>
		<string>#ECF0F1</string>
	</dict>
	<key>SelectThemeCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_theme_light</string>
	</dict>
	<key>SwitchNightCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_night_light</string>
	</dict>
	<key>ChangeThemeCell</key>
	<dict>
		<key>buttonTitleColorNormal</key>
		<string>#000</string>
		<key>buttonTitleColorHighlighted</key>
		<string>#AAA</string>
		<key>buttonBackgroundColor</key>
		<string>#ECF0F1</string>
	</dict>
</dict>
</plist>
