<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>LightContent</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFF</string>
		<key>textColor</key>
		<string>#000</string>
		<key>barTextColor</key>
		<string>#FFF</string>
		<key>barTintColor</key>
		<string>#EB4F38</string>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>separatorColor</key>
		<string>#C6C5C5</string>
	</dict>
	<key>SelectThemeCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_theme_red</string>
	</dict>
	<key>SwitchNightCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_night_dark</string>
	</dict>
	<key>ChangeThemeCell</key>
	<dict>
		<key>buttonTitleColorNormal</key>
		<string>#FFF</string>
		<key>buttonTitleColorHighlighted</key>
		<string>#555</string>
		<key>buttonBackgroundColor</key>
		<string>#EB4F38</string>
	</dict>
</dict>
</plist>
